<!-- <app-teams></app-teams> -->
<!-- <app-item title="Simple title" *delay="1000; time: 1000, title: 'hello'">
  <div class="content">CONTENT</div>
  <p #paragSelector>Content paragraph</p>
  <app-cat></app-cat>
  <app-dog></app-dog>
  <app-rock></app-rock>
</app-item> -->
<header>
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      routerLink = "/"
      routerLinkActive
    > Home</a>

    <a
      mat-tab-link
      routerLink = "1"
      routerLinkActive
    > First</a>

    <a
      mat-tab-link
      routerLink = "2"
      routerLinkActive
    > Second</a>

    <a
    mat-tab-link
    routerLink = "lazy"
    routerLinkActive
  > Lazy</a>
  </nav>
</header>
<main [@myAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>

  <button (click)="randomNumber()">random</button>
  {{output1}}
  <button (click)="findBigPrime()">heavy</button>
  {{output2}}
</main>
<app-input-search></app-input-search>
